body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  background-size: cover;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
div {
  margin-left: auto;
  margin-right: auto;
  
  
  
}

.Kopazar {
  max-width:100%;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  border-collapse: collapse;

  font-size: 0.9em;
  font-family: "Fira Code", monospace;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  width: 70%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.Kopazar thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.Kopazar th,
.Kopazar td {
  padding: 12px 15px;
}
.Kopazar tbody tr {
  border-bottom: 1px solid #dddddd;
}

.Kopazar tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.Kopazar tbody tr:last-of-type {
  border-bottom: 2px solid #000000;
}
.Kopazar tbody tr:hover {
  font-weight: bold;
  color: #009879;
}

.Oyunfor {
  max-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  font-size: 0.9em;
  font-family: "Fira Code", monospace;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  width: 70%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.Oyunfor thead tr {
  background-color: #dfa70d;
  color: #ffffff;
  text-align: left;
}
.Oyunfor th,
.Oyunfor td {
  padding: 12px 15px;
}
.Oyunfor tbody tr {
  border-bottom: 1px solid #dddddd;
}

.Oyunfor tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.Oyunfor tbody tr:last-of-type {
  border-bottom: 2px solid #000000;
}
.Oyunfor tbody tr:hover {
  font-weight: bold;
  color: #dfa70d;
}

.Klasgame {
  max-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  font-size: 0.9em;
  font-family: "Fira Code", monospace;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  width: 70%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.Klasgame thead tr {
  background-color: #6b0c5e;
  color: #ffffff;
  text-align: left;
}
.Klasgame th,
.Klasgame td {
  padding: 12px 15px;
}
.Klasgame tbody tr {
  border-bottom: 1px solid #dddddd;
}

.Klasgame tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.Klasgame tbody tr:last-of-type {
  border-bottom: 2px solid #000000;
}
.Klasgame tbody tr:hover {
  font-weight: bold;
  color: #6b0c5e;
}
.Bynogame {
  max-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  font-size: 0.9em;
  font-family: "Fira Code", monospace;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  width: 70%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.Bynogame thead tr {
  background-color: #2e0ca8;
  color: #ffffff;
  text-align: left;
}
.Bynogame th,
.Bynogame td {
  padding: 12px 15px;
}
.Bynogame tbody tr {
  border-bottom: 1px solid #dddddd;
}

.Bynogame tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.Bynogame tbody tr:last-of-type {
  border-bottom: 2px solid #000000;
}
.Bynogame tbody tr:hover {
  font-weight: bold;
  color: #2e0ca8;
}
.Yyg {
  max-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  font-size: 0.9em;
  font-family: "Fira Code", monospace;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  width: 70%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.Yyg thead tr {
  background-color: #0d441e;
  color: #ffffff;
  text-align: left;
}
.Yyg th,
.Yyg td {
  padding: 12px 15px;
}
.Yyg tbody tr {
  border-bottom: 1px solid #dddddd;
}

.Yyg tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.Yyg tbody tr:last-of-type {
  border-bottom: 2px solid #000000;
}
.Yyg tbody tr:hover {
  font-weight: bold;
  color: #0d441e;
}

.bubble {
  display: block;
  position: absolute;
  cursor: pointer;
}

.bubble:hover:after {
  background-color: green;
}

.bubble:after {
  content: "";
  background-color: green;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
}

.bubble .bubble-outer-dot {
  margin: 1px;
  display: block;
  text-align: center;
  opacity: 1;
  background-color: green;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-animation: bubble-pulse 1.5s linear infinite;
  -moz-animation: bubble-pulse 1.5s linear infinite;
  -o-animation: bubble-pulse 1.5s linear infinite;
  animation: bubble-pulse 1.5s linear infinite;
}

.bubble .bubble-inner-dot {
  display: block;
  text-align: center;
  opacity: 1;
  background-color: green;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-animation: bubble-pulse 1.5s linear infinite;
  -moz-animation: bubble-pulse 1.5s linear infinite;
  -o-animation: bubble-pulse 1.5s linear infinite;
  animation: bubble-pulse 1.5s linear infinite;
}

.bubble .bubble-inner-dot:after {
  content: "";
  display: block;
  text-align: center;
  opacity: 1;
  background-color: green;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-animation: bubble-pulse 1.5s linear infinite;
  -moz-animation: bubble-pulse 1.5s linear infinite;
  -o-animation: bubble-pulse 1.5s linear infinite;
  animation: bubble-pulse 1.5s linear infinite;
}

@-webkit-keyframes bubble-pulse {
  0% {
    transform: scale(1);
    opacity: 0.75;
  }
  25% {
    transform: scale(1);
    opacity: 0.75;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes bubble-pulse {
  0% {
    transform: scale(1);
    opacity: 0.75;
  }
  25% {
    transform: scale(1);
    opacity: 0.75;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@-moz-keyframes bubble-pulse {
  0% {
    transform: scale(1);
    opacity: 0.75;
  }
  25% {
    transform: scale(1);
    opacity: 0.75;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@-o-keyframes bubble-pulse {
  0% {
    transform: scale(1);
    opacity: 0.75;
  }
  25% {
    transform: scale(1);
    opacity: 0.75;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

/*Center-div (Not part of the symbol)*/

#center-div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 14px;
  height: 14px;
}
